body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button.selectUploadButton {
}

#upload-container {
  display: flex;
  width: 500px;
  height: 30px;
  justify-items: left;
  flex-direction: row;
}

div.file-descriptor {
  min-width: 200px;
  height: 30px;
  background-color: grey;
  color: white;
}

#response {
  display: flex;
  flex-direction: column;
}
#response div.json-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}